<div class="header"><h1 class="center-align">Hacker News Scraper</h1></div>

<div class="buttonHeader center-align">
    <button type="button" class="btn-large waves-effect waves-dark" name="button" id="scrape"><i class="material-icons left">launch</i>Scrape New Articles</button>
    <a href="/saved"><button type="button" class="btn-large grey waves-effect waves-light"  name="button">See Saved Articles</button></a>
</div>



<div id="articleContainer"></div>




<script src="js/app.js" type="text/javascript"></script>