<h1>Welcome</h1>
<a href="/"><button type="button" name="button">Home</button></a>
<button type="button" name="button" id="scrape">Scrape New Articles</button>
<a href="/saved"><button type="button" name="button">See Saved Articles</button></a>

<div id="header"></div>

<div id="articleContainer"></div>




<script src="js/app.js" type="text/javascript"></script>