<h1>Welcome</h1>

<a href="/"><button type="button" name="button">Home</button></a>
<button type="button" name="button" id="scrape">Clear Saved Articles</button>

<div id="header"></div>

<div id="articleContainer"></div>





<!-- {{#each articles}}
    {{this.title}}<br>
    {{{this.link}}}<br>
    {{this.comments}}<br>
    <hr>
{{/each}} -->


<script src="js/savedarticles.js" type="text/javascript"></script>