.articleNote {
    margin-right: 10px;
}

.articleNotesbtn, .articleDeleteBtn {
    margin-top:20px;
}

.articleNote {
    font-size: 20px;
    white-space: pre-wrap; /* -- This preserves line-breaks -- */
}
h5 > a {
    color:black;
}

.container {
    padding-top: 30px;
}